kernel=kernel_wrapper
platform=xilinx_vck5000_gen4x8_qdma_2_202220_1
save-temps=1

[advanced]
prop=kernel.kernel_wrapper.kernel_flags=-std=c++11

[hls]
pre_tcl=./hls_config.tcl
clock=200000000:kernel_wrapper

[connectivity]
nk=kernel_wrapper:1


[vivado]
#prop=run.impl_1.STEPS.PLACE_DESIGN.ARGS.DIRECTIVE=Explore
